= render partial: 'shared/error_messages', locals: { obj: @photo }
= f.input :name
= f.select :gallery_id, Gallery.all.collect { |g| [g.name, g.id] }, include_blank: 'Без альбома'
br
= f.check_box :main_photo
= f.label :main_photo
= f.check_box :portfolio
= f.label :portfolio
