h2 Create new photo?
= link_to 'New photo', new_photo_path, class: 'btn btn-success btn-standart'
= render @photos
br
h2 Create new photo?
= link_to 'New photo', new_photo_path, class: 'btn btn-success btn-standart'