b = "Name: #{gallery.name} \n"
p = "Description: #{gallery.description} \n"

= link_to image_tag(gallery.photo.image_url(:mini).to_s), request.parameters.merge(gallery: gallery) if gallery.photo.present?
= link_to "Edit", edit_gallery_path(gallery)
= link_to "Delete", gallery_path(gallery), method: :delete
