/* universal */
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic-ext,latin)

html
  overflow-y: auto

textarea
  resize: vertical

.center
  text-align: center

.center h1
  margin-bottom: 10px

\:focus
  outline: 0

/* typography */

h1, h2, h3, h4, h5, h6
  font-family: 'Fira Sans', sans-serif
  line-height: 1

h1
  font-size: 3em
  letter-spacing: -1px
  margin-bottom: 30px

h2
  letter-spacing: -1px

p
  font-size: 1.1em
  line-height: 1.7em

/* top menu */
#top-menu
  font-family: 'Fira Sans', sans-serif
  text-transform: uppercase

  position: relative
  overflow: hidden
  // height: 30px
  padding: 20px 0
  ul
    list-style: none
    margin: 0
    padding: 0
    position: relative
    left: 50%
    float: left
    height: 30px
    li
      position: relative
      left: -50%
      float: left
      margin: 0 5px
      height: 30px
      a
        display: block
        text-decoration: none
        padding: 4px 10px
        &:visited
          color: gray
        &:hover
          background-color: black
          color: white
    li.active
      a
        background-color: gray
        color: white
        &:hover
          background-color: black
          color: white

/* Gallery */

// .gallery
//   font-family: 'Fira Sans', sans-serif
//   text-transform: uppercase
//   text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
//   color: white

//   margin-bottom: 20px
//   position: relative
//   width: 100%

//   .gallery-title
//     font-size: 2.2em
//     letter-spacing: 2px
//     position: absolute
//     padding: 0 20px
//     width: 100%

//   img
//     width: 100%
//   .gallery-info
//     text-align: right
//     font-size: 15px
//     position: absolute
//     bottom: 15px
//     padding-right: 10px
//     width: 100%
//     .glyphicon
//       font-size: 25px
//       color: white

//   span
//     vertical-align: top
//     margin-right: 10px

//   border: 1px solid black

/* OLD */

.my-form
  input
    width: 95%
  input[type="checkbox"]
    width: 15px
    margin-bottom: 8px
    margin-right: 6px
  input[type="submit"]
    margin-top: 10px
  textarea
    width: 95%
  input.btn
    width: 200px
  .checkbox-title
    display: inline

.profile_avatar
  margin-bottom: 10px

.avatar
  img
    margin: 10px

.edit-gallery
  padding: 5px
  margin-bottom: 10px
  background-color: lightgray
