// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.photo {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.fright {
  float: right;
}

.clear {
  clear: both;
}

.nav-pills {
  margin-left: auto ;
  margin-right: auto ;
  width: 560px;
  li {
    // padding: 0 3px;
  }
}

.create_new_photo {
  position: fixed;
  right: 200px;
  width: 130px;
}

.span4 {
  display: inline;
}