= stylesheet_link_tag    "application", media: "all"
= javascript_include_tag "vendor/modernizr"
= jquery_include_tag :google
= csrf_meta_tags
meta name='yandex-verification' content='68825dbd2f8929c9'
meta name="viewport" content="width=device-width, initial-scale=1.0"
