= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true
= jquery_include_tag :google
= csrf_meta_tags
/[if lt IE 9] script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
meta name='yandex-verification' content='68825dbd2f8929c9'
